@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Sedgwick+Ave+Display&display=swap');

body {
    text-align: center;
    background:white;
    
}
h1{
    font-family: 'Alkatra', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 3rem;
}
.footer{
    display:grid;
    margin-bottom: 0x;
}